/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

:root {
  --line-border-fill: aquamarine;
  --line-border-empty: rgb(161, 185, 177);
}

/* universal selector */
* {
  /* this means if we ever add and padding or border to 
    and element, the width is not actually affected */
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  margin: 0;
  display: flex;

  /* make items go vertically */
  flex-direction: column;

  /* align the items towards the center vertically (even space on both sides) */
  align-items: center;

  /* put items in the center of the flex display */
  justify-content: center;

  /* body is 100% of browser height */
  height: 100vh;

  /* no scroll bars */
  overflow: hidden;

  font-family: "Source Sans Pro", sans-serif;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;

  /* Evenly seperate items in box by adding space in-between them */
  justify-content: space-between;

  position: relative;

  margin-bottom: 30px;

  max-width: 100%;
  width: 350px;
}
.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 95%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: white;
  color: rgb(161, 185, 177);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: white;
  border: 0;
  border: 6px;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  pointer-events: none;
}
