/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

/* universal selector */
* {
  /* this means if we ever add and padding or border to 
    and element, the width is not actually affected */
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;

  /* margin means space between item and other items */
  margin: 0;

  display: grid;

  position: relative;

  /* align the items towards the center vertically (even space on both sides) */
  align-items: center;

  /* put items in the center of the flex display */
  justify-content: center;

  /* body is 100% of browser height */
  height: 100vh;

  /* no scroll bars */
  overflow: hidden;

  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

.key {
  border: 1px solid gainsboro;
  background-color: #f8f6f6;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  flex-direction: column;
  margin: 10px;
  min-width: 150px;
  position: relative;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.key:hover {
  transform: translateY(30px) scale(1.15);
}

.key small {
  position: absolute;
  top: -24px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: rgb(255, 255, 255);
  pointer-events: none;
}

.big-1 {
  color: rgb(26, 39, 26);
  font-size: 10vw;
  margin: 10px;
}

.big {
  color: rgb(26, 39, 26);
  font-size: 40vw;
  margin: 10px;
}

button {
  background: url(arrow.png);
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 20px;
  transition: all 600ms ease-in-out;
}

button:hover {
  transform: rotate(-360deg) scale(1.2);
}
