/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* universal selector */
* {
  /* this means if we ever add and padding or border to 
    and element, the width is not actually affected */
  box-sizing: border-box;
}

body {

  /* margin means space between item and other items */
  margin: 0;

  /* no scroll bars */
  overflow: hidden;

  font-family: "Lato", sans-serif;
}
