/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

/* universal selector */
* {
  /* this means if we ever add and padding or border to 
    and element, the width is not actually affected */
  box-sizing: border-box;
}

body {
  /* margin means space between item and other items */
  margin: 0;

  display: flex;

  /* align the items towards the center vertically (even space on both sides) */
  align-items: center;

  /* put items in the center of the flex display */
  justify-content: center;

  /* body is 100% of browser height */
  height: 100vh;

  /* no scroll bars */
  overflow: hidden;

  font-family: "Ubuntu", sans-serif;
}

.bg {
  background: url("https://www.thespruce.com/thmb/9EP5wfoBv3n_HkH5LW1QmtuRunE=/4500x3000/filters:fill(auto,1)/KoiPond-5fe8b3a605ef4743a55dba059cfb531b.jpg")
    no-repeat center center/cover;
  position: absolute;
  top: -30;
  left: -30;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: white;
  left: 50vw;
  top: 50vh;
}
