/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

/* universal selector */
* {
  /* this means if we ever add and padding or border to 
    and element, the width is not actually affected */
  box-sizing: border-box;
}

body {
  color: white;

  background-color: darkslategray;
  /* margin means space between item and other items */
  margin: 0;


  display: flex;

  /* make items flex vertically */
  flex-direction: column;

  /* align the items towards the center vertically (even space on both sides) */
  align-items: center;

  /* put items in the center of the flex display */
  justify-content: center;

  /* body is 100% of browser height */
  height: 100vh;

  /* no scroll bars */
  overflow: hidden;

  font-family: "Source Sans Pro", sans-serif;

  padding: 40px;
}

.container {
  background-color: rgb(220, 70, 120);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 800px;
}

h3 {
  margin: 0;
  opacity: 0.8;
  letter-spacing: 2px;
}

.joke{
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

.btn {
  background-color: darkslategray;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}