/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

/* universal selector */
* {
  /* this means if we ever add and padding or border to 
    and element, the width is not actually affected */
  box-sizing: border-box;
}

body {

  background-color: goldenrod;
  /* margin means space between item and other items */
  margin: 0;


  display: flex;

  /* make items flex vertically */
  flex-direction: column;

  /* align the items towards the center vertically (even space on both sides) */
  align-items: center;

  /* put items in the center of the flex display */
  justify-content: center;

  /* body is 100% of browser height */
  height: 100vh;

  /* no scroll bars */
  overflow: hidden;

  font-family: "Muli", sans-serif;
}

h3 {
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  width: 500px;
}

textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 20px;
  border-radius: 8px;
}

.tag {
  color: white;
  background-color: cornflowerblue;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color: rgb(33, 56, 56);
}